.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.select2-container--open {
    z-index: 9999;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}
.TitleLogin{
    text-align: center;
    font-family: PoetsenOne;
    color: #FAFAFA;
    font-size: 40px;
    line-height: 48px;

}
.LoginBox{
    background: #142740;
    border-radius: 32px;
}
.LoginInput{
    background-color: #FFFFFF;
    color: #8D1A2F;
    font-family: PoetsenOne;
    border: 3px solid #C9DFF2;
    border-radius: 6px;
    margin: auto;
}
.LoginInput::placeholder{
    color: #8D1A2F;
    font-family: PoetsenOne;
    font-size: 18px;
    line-height: 22px;
}
.Input{
    text-align: center;
    margin-bottom: 16px;
}
.RememberMe{
    color: white;
    text-align: center;
}
.BtnConnexion{
    text-align:center;
}
.ConnexionBtn{
    background: #C9DFF2;
    border: 1px solid #000000;
    color: #142740;
    font-family: PoetsenOne;
    font-size: 20px;
    line-height: 24px;
    width: 142px;
    height: 34px;
    margin: 20px 0px 20px 0px;
}
.ForgetRegister{
    display: flex;
    justify-content: space-between;
}
.ForgetRegister a{
    color: white;
}
.ContactUsTitle{
    color: #000000;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.ContactUsInput{
    background: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 600px !important;
    margin-bottom: 20px;
    margin-left: 300px;
    padding-left: 5px;
}
.ContactUsInput::placeholder{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}
.ContactUsMsg{
    background: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 300px;
    width: 600px;
    padding-left: 5px;
}
.ContactUsMsg::placeholder{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}
.BtnSend{
    color: #000000;
    border: 1px solid #000000;
    border-radius:3px;
    font-weight: bold;
    font-family: PoetsenOne;
    font-size: 20px;
    line-height: 24px;
    width: 142px;
    height: 34px;
    margin: 50px 0px 20px 0px;
    margin-left: 300px;
    background: #FAFAFA;
}
.RedAlert{
    color: red;
}
.InputAlert{
    border: 1px solid red;
}
.AlertSuccess{
    background-color: rgb(20, 39, 64, 0.8);
    padding: 5px;
    color:white;
    font-weight: bold;
    font-size: 10pt;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    width: 15%;
    margin: 20px auto 20px auto;
}
.ContactUsPage{
    display: flex;
    flex-direction: row;
}
.ContentImg{
    margin: 20px 0px 0px 275px;
}
.ContentImg img{
    width: 400px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.NavLink{
    color: #142740;
    font-family: PoetsenOne;
    font-size: 30px;
}
.NavContent li{
    list-style: none;
    margin-left: 50px;
}
.NavContent ul li{
    display: inline;
}
.navContent {
    margin-top: 40px;
    width: 100%;
}
.navbarAttack{
    display: flex;
    flex-direction: row;
}
.RightItem a:first-child{
    color: #142740;
    font-family: Roboto;
    margin-left: 90%;
}
.Navcontent ul {
    width: 100%;
}