.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.select2-container--open {
    z-index: 9999;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}
.TitleLogin{
    text-align: center;
    font-family: PoetsenOne;
    color: #FAFAFA;
    font-size: 40px;
    line-height: 48px;

}
.LoginBox{
    background: #142740;
    border-radius: 32px;
}
.LoginInput{
    background-color: #FFFFFF;
    color: #8D1A2F;
    font-family: PoetsenOne;
    border: 3px solid #C9DFF2;
    border-radius: 6px;
    margin: auto;
}
.LoginInput::placeholder{
    color: #8D1A2F;
    font-family: PoetsenOne;
    font-size: 18px;
    line-height: 22px;
}
.Input{
    text-align: center;
    margin-bottom: 16px;
}
.RememberMe{
    color: white;
    text-align: center;
}
.BtnConnexion{
    text-align:center;
}
.ConnexionBtn{
    background: #C9DFF2;
    border: 1px solid #000000;
    color: #142740;
    font-family: PoetsenOne;
    font-size: 20px;
    line-height: 24px;
    width: 142px;
    height: 34px;
    margin: 20px 0px 20px 0px;
}
.ForgetRegister{
    display: flex;
    justify-content: space-between;
}
.ForgetRegister a{
    color: white;
}
.ContactUsTitle{
    color: #000000;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.ContactUsInput{
    background: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 600px !important;
    margin-bottom: 20px;
    margin-left: 300px;
    padding-left: 5px;
}
.ContactUsInput::placeholder{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}
.ContactUsMsg{
    background: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 300px;
    width: 600px;
    padding-left: 5px;
}
.ContactUsMsg::placeholder{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}
.BtnSend{
    color: #000000;
    border: 1px solid #000000;
    border-radius:3px;
    font-weight: bold;
    font-family: PoetsenOne;
    font-size: 20px;
    line-height: 24px;
    width: 142px;
    height: 34px;
    margin: 50px 0px 20px 0px;
    margin-left: 300px;
    background: #FAFAFA;
}
.RedAlert{
    color: red;
}
.InputAlert{
    border: 1px solid red;
}
.AlertSuccess{
    background-color: rgb(20, 39, 64, 0.8);
    padding: 5px;
    color:white;
    font-weight: bold;
    font-size: 10pt;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    width: 15%;
    margin: 20px auto 20px auto;
}
.ContactUsPage{
    display: flex;
    flex-direction: row;
}
.ContentImg{
    margin: 20px 0px 0px 275px;
}
.ContentImg img{
    width: 400px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.NavLink{
    color: #142740;
    font-family: Nunito, sans-serif;
    font-size: 30px;
}
.NavContent li{
    list-style: none;
    margin-left: 50px;
}
.NavContent ul li{
    display: inline;
}
.navContent {
    margin-top: 40px;
    width: 100%;
}
.navbarAttack{
    display: flex;
    flex-direction: row;
}
.RightItem {
    color: #142740;
    font-family: Roboto;
    margin-left: 37rem!important
}
.Navcontent ul {
    width: 100%;
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    text-align:right;
    margin:25px 70px;
    line-height:100px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}



.m-b-md {
    margin-bottom: 30px;
}

.accueilContain{
    width : 100%;
    margin : auto;
}
.partage, .question{
    background-color: #142740;
    color:#FFF;
    display:flex;
    flex-direction:row;
    padding:30px 20px;
}
.textPartage{
    margin-left:7%;
    margin-top:5%;
    font-size:18pt;
}
.ou{

    margin:auto;
    text-align:center;
    font-size:40pt;
    color:#C9DFF2;
    font-weight: 700;
    font-family:helvetica;
    margin-top:-40px;
    margin-bottom:-20px;
}
.trouver{
    background-color:#FFF;
    color:#142740;
    display:flex;
    flex-direction:row;
    padding:30px 30px;
}
.textTrouver{
    margin-right:7%;
    margin-left:3%;
    margin-top:5%;
    font-size:18pt;
}
.question{
    text-align:center;
}
.questionTexte{
    font-size:18pt;
}
.quest{
    font-size:25pt;
    font-weight:500;
}
.fabriquer{
    width:100%;
    margin:auto;
    margin-top:50px;
    margin-left:10%;
}
.imgFab{
    margin-top:50px;
    margin-right:10%;


}

.imglitto{
    width:75%

}
.fabriqueAll{
    display:flex;
    flex-direction:row;
    margin-bottom:5%;
}
.fabtitle{
    text-align: center;
    padding: 15px 0 10px 0
}
.logoacc{
    margin-top:2%;
    margin-left:7%;
    width: 17%;
}
.imgvirus{
    margin-left:3%;
}
.logoMask{
    width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .RightItem {
        color: #142740;
        font-family: Roboto;
        margin-left: 0px !important;
        margin-right: 250px;
    }
    .navlang{
        margin-right: 88px;
    }
    .logoMask{
        width: 300%;
    }
    .imgvirus{

        width: 100%;
        height: auto;
        margin: 0 !important;
    }
    .partage, .question{
        background-color: #142740;
        color:#FFF;
        display:flex;
        flex-direction:column;
        padding:30px 15px;
    }
    .trouver{
        background-color:#FFF;
        color:#142740;
        display:flex;
        flex-direction:column;
        padding:15px ;
    }
    .fabriqueAll{
        display:flex;
        flex-direction:column;
        margin-bottom:5%;
    }
    .imglitto{
        width:80%;
        margin: 0 58px;
    }
    .ContentImg{
        margin: 20px 0px 0px 275px;
    }
    .ContentImg img{
        width: 400px;
        border-radius: 10px;
        border: 1px solid #000000;
    }
    .ContactUsPage{
        display: flex;
        flex-direction: column;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1508px) {
    .RightItem {
        color: #142740;
        font-family: Roboto;
        margin-left: 0px !important;

    }
    .navlang{
        margin-right: 88px;
    }
    .logoMask{
        width: 100%;
    }
    .imgvirus{

        width: 100%;
        height: auto;
        margin: 0 !important;
    }
    .partage, .question{
        background-color: #142740;
        color:#FFF;
        display:flex;
        flex-direction:column;
        padding:30px 15px;
    }
    .trouver{
        background-color:#FFF;
        color:#142740;
        display:flex;
        flex-direction:column;
        padding:15px ;
    }
    .fabriqueAll{
        display:flex;
        flex-direction:column;
        margin-bottom:5%;
    }
    .imglitto{
        width:80%;
        margin: 0 58px;
    }
    .ContentImg{
        margin: 20px 0px 0px 100px !important;
    }
    .ContentImg img{
        width: 100%;
        border-radius: 10px;
        border: 1px solid #000000;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {*/

/*}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {*/

/*}*/
